[program:parser]
command={{ root_dir }}/ui/hashi-ui-linux-amd64 --nomad-enable --consul-enable
process_name=%(program_name)s
numprocs=1
stdout_logfile={{ root_dir }}/logs/ui.log
autostart=true
autorestart=true
user={{ deployer_username }}